*{
    margin:0rem;
    border: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#nav{
    height: 120px;
    display: flex;
}
.head{
    color: blue;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 40px;
}
#Search{
    margin-left: 77rem;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    color: blue;
    font-size: medium;
    font-weight: bolder;
    cursor:pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.25s;
}
#Search:hover{
    background-color: black;
    color: white;
}
#icon{
    margin-left: 25px;
    color: black;
}
.Hero{
    background-color:blue;
    height: 730px;
    color: white;
    font-size:40px;
    text-align: center;
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.Box{
    height: 250px;
    width:300px;
    background-color: white;
    color: black;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.25s;
}
    
.Box:hover{
    background-color:#FAF3C3;
    color: #4E342E;
    transform: scale(1.25,1.25);

}
.para{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 10px;
}
.anchor{
    font-size: 22px;
    text-decoration: none;
    color:black;
    font-weight: bold;
}
#Love{
    background-color: #002e5b;
    color:white;
    height:72.5px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

