*{
    margin:0rem;
    border: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#nav{
    height: 120px;
    display: flex;
}
.head{
    color: black;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 40px;
}
#Search{
    margin-left: 77rem;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    color: blue;
    font-size: medium;
    font-weight: bolder;
    cursor:pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.25s;
}
#Search:hover{
    background-color: black;
    color: white;
}
.Hero{
     background-color:blue;
    height: 802.5px;
    color: white;
    font-size:40px;
    text-align: center;
}
.options{
    background-color: white;
    height:450.25px;
    width:900px;
    margin-left: 500px;
    margin-top: 130px;
    border-radius: 5px;
}
.anchor{
    height: 60px;
}
a{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: black;
}